# Frontend Environment Variables
VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_WS_URL=http://localhost:3000

# Backend & Database Environment
PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/ahl_almarkabat?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=super-secret-ahl-markabat-jwt-token-key-2026
AI_SERVICE_URL=http://localhost:8000
